body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 1400px;
    height: 800px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(8, 1fr);

}
.header{
    grid-column: 3/15;
    grid-row: 1/2;
    background-image: linear-gradient(to right, rgb(0, 134, 187), white);
    padding-top: 16px;
    padding-left: 10px;
}
    .header h2{
        color: rgb(0, 0, 0);
        font-style: italic;
        font-weight: 400;
    }

.sections{
    grid-row: 1/9;
    grid-column: 1/3;
    background-color: rgb(0, 134, 187);
    display: grid;
    grid-template-rows: 1.8fr 1fr 1fr 1fr 1fr 1fr;
}
    .sections svg{
        fill: white;
    }
    .sections button{
        color: white;
        background-color: rgb(3, 161, 224);
        margin: 30px;
        border-radius: 30px;
        font-size: 1.5rem;
        border-width: 0px;
    }

/* todo´s styling*/
#container{
    grid-column: 3/15;
    grid-row: 2/9;
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(to bottom right, rgb(225, 225, 225), white);
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 200px;
    grid-auto-flow: row;
}
.card{
    border: 0px;
    border-left: 5px;
    border-style: solid;
    border-color: orange;
    border-radius: 25px;
    margin: 15px;
    padding-left: 10px;
    color: white;
    background-color: rgb(3, 161, 224);
    
}

/*projects styling*/
#projectContainer{
    grid-column: 3/15;
    grid-row: 2/9;
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(to bottom right, rgb(225, 225, 225), white);
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 320px);
    grid-auto-rows: 320px;
    grid-auto-flow: row;
}
.projectCard{
    background-color: rgb(3, 161, 224);
    color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    border: 0px;
    border-left: 10px;
    border-color: orange;
    border-style: solid;

}



/*home styling*/
#homeContainer{
    grid-column: 3/15;
    grid-row: 2/9;
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(to bottom right, rgb(225, 225, 225), white);
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.homeProject{
    width: 1200px;
    height: 350px;
    grid-column: 1/5;
    background-image: linear-gradient(to right, rgb(225, 225, 225), white); 
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-auto-columns: 550px;
    grid-auto-flow: column;
}
.homeTodos{
    width: 1200px;
    grid-column: 1/5;
    grid-row: 2/3;
    background-image: linear-gradient(to right, rgb(225, 225, 225), white);
    height: 350px;
    overflow: scroll;
    
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-columns: 300px;
    grid-auto-flow: column;
}

/*add task styling*/
#addForm{
    grid-column: 3/15;
    grid-row: 2/9;
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(to bottom right, rgb(225, 225, 225), white);    

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .todoForm{
        background-image: linear-gradient( rgb(0, 134, 187), white);
        margin: 15px;
        padding: 15px;
        border-radius: 25px;
    }
    .projectForm{
        background-image: linear-gradient( rgb(0, 134, 187), white);
        margin: 15px;
        padding: 15px;
        border-radius: 25px;
    }
        form{
            color: white;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(6, 1fr);
        }
            form button{
                grid-column: 1/3;
                width: 150px;
                margin-left: 200px;
                
                
            }